<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head", { title: locals.title }) %>
  <body>
    <h1><%= locals.h1Title %></h1>
    <%- include("./partials/navbar", { navbar: locals.navbar }) %>
  </body>
</html>
